*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.big-text 
{
	color: #3498DB;
	background-color: #FFF;
	font-family: "Arial", sans-serif;
	text-align: center;
	font-size: 4em;
	height: 3m;
	border: solid;
	border-color: #2E86C1;
	border-width: 0.1em;
	margin-left: 3em;
	margin-right: 3em;
	margin-top:2em;
}

.bar 
{
	background-color: #3498DB;
	color: #FFF;
	font-family: "Arial Bold", sans-seriff;
	font-size: 1em;
	text-align: center;
	position: fixed;
	top: 0;
	z-index: 5;
	width: 100%;
}


li {
  color: #FFF;
  background-color: #34495E;
  border: solid;
  border-radius: 1em;
  border-color: #FFF;
  width: 5em;
  display: inline-block;
  font-family: 'Arial Bold', sans-serif;
  font-size: 3em;
  font-weight: 500;
  margin: 0.3em;
}

a:hover
{
	color: #FFF;
	background-color: rgba(0,0,0,0);
}

a:visited
{
	color: #FFF;
}

.barbutton 
{
}